# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Template Generation

on:
  schedule:
    - cron: '0 06 1-12 12 *'
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.25

    - name: Generate
      working-directory: "2025"
      run: |
        if [ ! -d $(date +%D) ]; then
          make generate
        fi

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install AOC Download Tool
      run: |
        python -m pip install --upgrade pip
        pip install advent-of-code-data

    - name: Fetch example file
      env:
        AOC_SESSION: ${{ secrets.AOC_SESSION }}
      run: make fetch-example

    - uses: stefanzweifel/git-auto-commit-action@v4     # Step that pushes these local changes back to your github repo
      with:
        commit_message: Generated files for the new day
